name: CI

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions: {}

on:
  push:
    branches:
      - main

  pull_request:

env:
  FORCE_COLOR: 2

concurrency:
  group: ci-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm run build

      - name: Check linting
        run: pnpm run check:lint

      - name: Check file formatting
        run: pnpm run check:format

      - name: Check for modified files
        run: |
          MODIFIED_FILES=$(git diff --name-only)
          if [ -n "$MODIFIED_FILES" ]; then
            echo "Unmodified files after building the project:" >&2
            echo "$MODIFIED_FILES" >&2
